@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#foto {
    width: 20%;
    height: 20%;
}

footer {
    text-align: center;
    background-color: pink;
}

h1 {
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
}

 body {
    margin: 5%;
    font-family: 'Roboto', sans-serif;
 }

 #gegevens {
    background-color: pink;
 }