@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

#foto {
    width: 20%;
    height: 20%;
    padding-top: 40px;
}

#footer-home {
    text-align: center;
    background-color: pink;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

h1 {
    text-align: left;
    font-size: 50px;
    color: white;
    padding-left: 40px;
    padding-top: 20px;
}

 body {
    font-family: 'Roboto', sans-serif;
 }

 #home {
    background-color: pink;
    padding: 20px;
    padding-bottom: 160px;
 }

 nav {
     text-align: right;
 }

 #intro {
     font-size: 50px;
     text-align: left;
     color: white;
     padding-left: 40px;
 }

 a {
     color:white;
 }

 nav a {
     margin-left: 20px;
 }

 nav a:hover {
     font-weight: 900;
 }

 footer div {
     margin: 0;
 }

 #footerlink {
     width: 100%;
 }

 #copyright {
     width: 100;
     text-align: right;
     margin-right: 50px;
     font-size: 12px;
 }

 #hobbies {
     padding-top: 40px;
     padding-left: 40px;
 }

 #line {
     border-left: 6px solid black;
     margin-top: 40px;
     margin-left: 40px;
     padding-bottom: 40px;
 }

 #footer-aboutme {
    text-align: center;
    background-color: pink;
    width: auto;
    padding: 20px;
 }

 #aboutme {
    background-color: pink;
    padding: 20px;
 }

 ul {
     margin-left: 20px;
 }

 button {
     margin-left: 40px;
     width: 220px;
     height: 50px;
     border: none;
     outline: none;
     color: black;
     background: pink;
     cursor: pointer;
     position: relative;
     z-index: 0;
     border-radius: 10px;
     font-size: 16px;
 }

 button::before {
     content: '';
     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
     position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
 }

 button:active {
    color: black;
 }

 button:active::after {
    background: transparent;
 }

 button:hover::before {
    opacity: 1;
 }

 button::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: pink;
    left: 0;
    top: 0;
    border-radius: 10px;
 }

 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}